.kan-container {
    display: inline-block;
    padding: 10px;
    text-align: center;
    color: #fff !important;
    background-color: #000;
    
}

.kan-word {
    font-size: 16px !important;
}

.kan-reading {
    font-size: 11px !important;
}

.kan-symbol {
    font-size: 20px !important;
    color: #fff !important;
}